* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body, #root { 
  height: 100%; 
}
#app-root { 
  height: 100%; 
}
.leaflet-container { 
  background: #e6f0f3;
}
